MAX_SESSION_TOKEN=
MAX_PHONE=
MAX_PASSWORD=
MAX_OPERATOR_CHANNEL=
MAX_TELEGRAM_BOT_TOKEN=
MAX_TELEGRAM_CHAT_ID=
MAX_TELEGRAM_POLL_TIMEOUT_SECS=
MAX_SOLVER_URL=
MAX_CALLBACK_BIND=
MAX_CALLBACK_URL_BASE=
RUST_LOG=
